@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    max-width: 100%;
}


:root {
    --cor60: #fff;
    --cor30: #032A9F;
    --cor10: #FF7700;

    --font-paragraph: Arial, Helvetica, sans-serif;
    --font-title: "Orbitron", sans-serif;
}

.content {
    max-width: 1440px;
    margin-top: 100px;
    padding: 0 8px;
}

section{
    border-top: solid 2px var(--cor30);
}

button,
input,
.seeMoreCard {
    font-family: var(--font-title);
}


h1 {
    font-size: 2.7rem;
}

h2 {
    font-size: 2.074rem;
}

/* h3 {
    font-size: 2rem;
} */

h4 {
    font-size: 1.728rem;
}

h5 {
    font-size: 1.44rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    line-height: 20px;
    font-size: 1rem;
    font-family: var(--font-paragraph);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-title);
}

#menuUl a {
    font-size: 0.90em;
    font-family: var(--font-title);
    color: var(--cor30);
    font-weight: 600;
    letter-spacing: 2px;
}

small {
    font-size: 0.833rem;
}

h1 {
    position: relative;
    display: inline;
}

h1::after {
    position: absolute;
    content: " ";
    bottom: 0;
    left: 0;
    width: 30%;
    height: 4px;
    background-color: var(--cor10);
    border-radius: 25px;
}




header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

#menuHamburger {
    position: absolute;
    right: 16px;
    top: 24px;
    padding: 8px;

    box-shadow: 1px 1px 6px var(--cor10), -1px -1px 6px var(--cor10);
    border-style: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.96);
    cursor: pointer;
    z-index: 2;

    transition: .5s;
}


.hamburgerLine {
    display: block;
    position: relative;
    width: 56px;
    height: 5px;
    margin: 8px 0;
    transform-origin: center;

    border-radius: 25px;
    background-color: #000;
    transition: 0.2s;
}

#menuHamburger.activate {
    box-shadow: 1px 1px 6px red, -1px -1px 6px red;
}

#menuHamburger.activate .hamburgerLine:nth-child(1) {
    transform: translateY(12px) rotate(-45deg);
    background-color: red;
}

#menuHamburger.activate .hamburgerLine:nth-child(2) {
    opacity: 0;
}

#menuHamburger.activate .hamburgerLine:nth-child(3) {
    transform: translateY(-14px) rotate(45deg);
    background-color: red;
}


#menuUl {
    position: absolute;
    right: -100vh;
    top: 0;
    padding: 64px 42px 16px 16px;

    border: solid 1px var(--cor10);
    box-shadow: 1px 1px 10px var(--cor30);
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) var(--cor30) var(--cor30);
    border-radius: 0 0 0 8px;

    background-color: rgba(255, 255, 255, 0.96);
    transition: 0.5s;
}

#menuUl.activateUl {
    right: 0;
    transition: 0.2s;
}

header ul li {
    font-family: var(--font-paragraph);
    padding: 5px;
    margin: 24px 0;
    font-size: 1.5rem;
}

#closeButton {
    display: none;
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 1;
}



/* Footer */
#contact {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0066f41a;
    border-top: solid 3px var(--cor10);
}

#contact h1 {
    margin-top: 24px;
}

#socialMediasContact {
    margin: 32px 0;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


@media screen and (min-width: 769px) {

    .content {
        margin-top: 100px;
        padding: 0 8px;
    }

    header {
        justify-content: center;
    }

    #menuHamburger {
        display: none;
    }

    #menuUl {
        display: flex;
        position: fixed;
        justify-content: center;
        width: 100%;
        right: unset;
        padding: 0;

        border-radius: 0;
        border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) var(--cor30) rgba(255, 255, 255, 0);

    }

    header ul li {
        font-family: var(--font-paragraph);
        padding: 5px;
        margin: 24px;
        font-size: 1.5rem;
        transition: .5s;
        position: relative;
    }

    header ul li::after {
        position: absolute;
        content: '';
        background-color: var(--cor10);
        height: 5px;
        width: 0%;
        right: 0;
        bottom: 0;
        left: 0;
        margin-left: 5px;
        border-radius: 0 25px 25px 0;
        transition: .2s;
    }

    header ul li:hover::after {
        background-color: var(--cor10);
        width: 100%;
    }


    #socialMediasContact {
        margin: 56px 0;
        margin-bottom: 48px;
        display: flex;
        justify-content: space-evenly;
        max-width: 512px;
    }
}