/* All content after the header and before the footer */
.content {
    margin-top: 100px;
    padding: 0 8px;
}

.socialsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



/* Box with Willian´s photo with social media icons */
#photoWithSocial {
    display: flex;
    justify-content: space-around;
}

/* Box of social media icons */
.socials {
    height: 48px;
    width: 48px;
}

#willianPhoto {
    width: 300px;
}

/* Willian´s name */
#name {
    font-size: 2.7rem;
    margin-top: 16px;
    color: #7678ED;
}

/* Profission */
#webDev {
}

/* Presentation paragraph */
#myPresentationTxt {
    margin-top: 16px;
}

/* Container skills */
#skills {
    margin-top: 56px;
}

#skills h1 {
    color: #7678ED;
    margin-top: 56px;
}


#containerOfExplainSkills {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
}

/* Indivisual skills */
.photoWithTxtSkills {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

/* Skills photos (icons)*/
.photoSkills {
    width: 134px;
}

/* Skills paragraph */
.txtSkills {
    width: 300px;
    padding: 10px;
    margin-top: 8px;
    border-radius: 8px;
    color: white;
}

#skillHtml {
    background-color: #ff4c1e;
}

#skillCss {
    background-color: #004ce8;
}

#skillJs {
    background-color: #ffdf00;
    color: #000;
}

#skillWp {
    background-color: #00769d;
}

#portfolio h1{
    color: #7678ED;
}

#portfolio {
    margin-top: 56px;
}

#cardsContainer {
    /* margin-top: 24px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 16px;
    margin-top: 24px;
    border-radius: 8px;
    border: solid #7678ED;
    box-shadow: 2px 2px 8px #555;
    position: relative;
}

.projectTitle {
    margin-bottom: 16px;
}

.projectPreview {
    width: 100%;
    height: 250px;
    border-radius: 8px;
}

.portfolioParagraph {
    margin-top: 8px;
}

.seeMoreCard {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.3rem;
    border-radius: 3px;
    height: 40px;
    margin-top: 24px;
    padding: 8px;
    font-weight: 700;
    font-family: "Orbitron", sans-serif;
    border-style: none;
    cursor: pointer;
    align-self: end;
    background-color: rgba(255, 255, 255, 0);
    color: #FF7700;
    box-shadow: 1px 1px 6px;
}